<div class="container">
  <div class="row">
    <div class="col"><label for="">Cliente</label></div>
  </div>
  <div class="row card" style="border: 1px solid black;">
    <div class="row g-3">
      <div class="col-md-3">
          <input type="text" class="form-control" name="nombre" #nombre="ngModel" [(ngModel)]="cliente.nombre" placeholder="Nombre" [disabled]="!isNuevo" (keyup)="buscaClientePorNombre()">
      </div>
      <div class="col-md-3">
          <input type="text" class="form-control" name="telefono" #telefono="ngModel" [(ngModel)]="cliente.telefono" placeholder="Teléfono" [disabled]="!isNuevo">
      </div>
      <div class="col-md-3">
          <input type="text" class="form-control" name="correo" #correo="ngModel" [(ngModel)]="cliente.correoElectronico" placeholder="Correo Electrónico" [disabled]="!isNuevo">
      </div>
      <div class="col-md-3 mb-3">
          <input type="text" class="form-control" name="direccion" #direccion="ngModel" [(ngModel)]="cliente.direccion" placeholder="Dirección" [disabled]="!isNuevo">
      </div>
    </div>
    <div *ngIf="clientes.length>0" class="row" style="margin-top: -10px;">
      <div class="col-md-12">
        <table class="table table-hover table-bordered">
          <colgroup>
          <col width="25%">
          <col width="25%">
          <col width="25%">
          <col width="25%">
          </colgroup>
          <tbody>
            <tr *ngFor="let cliente of clientes; let i=index" (click)="selectCliente(i)">
              <td class="alignLeftRow">{{cliente.nombre}}</td>
              <td class="alignCenterRow">{{cliente.telefono}}</td>
              <td>{{cliente.correoElectronico}}</td>
              <td>{{cliente.direccion}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="">Equipo</label>
    </div>
  </div>
  <div class="row card" style="border: 1px solid blue;">
    <div class="row g-3">
      <div class="col-md-3 mb-3">
          <input type="text" class="form-control" name="marca" #marca="ngModel" [(ngModel)]="credito.equipo.marca" placeholder="Marca" [disabled]="!isNuevo">
      </div>
      <div class="col-md-3 mb-3">
          <input type="text" class="form-control" name="modelo" #modelo="ngModel" [(ngModel)]="credito.equipo.modelo" placeholder="Modelo" [disabled]="!isNuevo">
      </div>
      <div class="col-md-3 mb-3">
          <input type="text" class="form-control" name="noSerie" #noSerie="ngModel" [(ngModel)]="credito.equipo.noSerie" placeholder="No Serie" [disabled]="!isNuevo">
      </div>
      <div class="col-md-3 mb-3">
          <input type="number" class="form-control" name="costo" #costo="ngModel" [(ngModel)]="credito.equipo.costo" placeholder="Costo" [disabled]="!isNuevo">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="">Crédito</label>
    </div>
  </div>
  <div class="row card" style="border: 1px solid green;">
    <div class="row g-3">
      <div class="col-md-2 mb-3">
        <div style="text-align: center;">
          <label for="" >Enganche</label>
        </div>
        <input class="form-control" type="number" name="enganche" #enganche="ngModel" [(ngModel)]="credito.enganche" (blur)="calculaMontoPagos()" placeholder="Enganche" [disabled]="!isNuevo">
      </div>
      <div class="col-md-2 mb-3">
        <div style="text-align: center;">
          <label for="">No de Pagos</label>
        </div>
        <input class="form-control" type="number" name="noPagos" #noPagos="ngModel" [(ngModel)]="credito.noPagosTotales" placeholder="Número de Pagos" (change)="calculaMontoPagos()" (keyup)="calculaMontoPagos()" [disabled]="!isNuevo">
      </div>
      <div class="col-md-2 mb-3">
        <div style="text-align: center;">
          <label for="">Periodo Pago</label>
        </div> 
        <select class="form-select" name="plazoPago" [(ngModel)]="credito.plazoPago" id="" [disabled]="!isNuevo">
          <option value="quincenales">Quincenal</option>
          <option value="mensuales">Mensual</option>
        </select>
      </div>
      <div class="col-md-2 mb-3"></div>
      <div class="col-md-2 mb-3">
        <div style="text-align: center;">
          <label for="">Por pagar: </label>
        </div>
        <input type="text" class="form-control" name="" disabled value="{{credito.adeudo| currency}}">
      </div>
      <div class="col-md-2 mb-3">
        <div style="text-align: center;">
          <label for="">{{credito.noPagosTotales}} pagos de:</label>
        </div>
        <input type="text" class="form-control" name="" disabled value="{{credito.pago| currency}}">
      </div>
    </div>
  </div>
  <div *ngIf="!isNuevo" class="row">
    <div class="col">
      <label for="">Pagos:</label>
    </div>
  </div>
  <div *ngIf="!isNuevo" class="row" style="border: 1px solid goldenrod;height: 220px;">
      <div class="col-8">
        <table class="table "> 
          <colgroup>
            <col width="15%">
            <col width="25%">
            <col width="20%">
            <col width="40%">
          </colgroup>
          <thead>
            <tr>
              <th class="alignCenterRow">No</th>
              <th class="alignCenterRow">Monto</th>
              <th class="alignCenterRow">Fecha</th>
              <th class="alignCenterRow">Nota</th>
            </tr>
          </thead>
        </table>
        <div style="margin-top: -15px;height: 170px;overflow: auto;border: 1px solid bisque;">
          <table class="table">
            <colgroup>
              <col width="15%">
              <col width="25%">
              <col width="20%">
              <col width="40%">
            </colgroup>
            <tbody>
              <tr *ngFor="let pago of pagos; let i = index">
                <td class="alignCenterRow">{{i+1}}/{{credito.noPagosTotales}}</td>
                <td class="alignCenterRow">{{pago.montoPago | currency:'MXN'}}</td>
                <td class="alignCenterRow">{{pago.fechaPago | date:'dd-MMM-YYYY'}}</td>
                <td class="alignCenterRow"><textarea name="" id="" rows="1" disabled>{{pago.nota}}</textarea></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col">
              <div class="row g-3">
                <div class="col-4 mb-3">Cantidad</div>
                <div class="col-6 mb-3">
                  <input type="number" class="form-control" name="pago" #pago="ngModel" [(ngModel)]="credito.pago">
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <label for="">Nota:</label>
                </div>
                <div class="col-6">
                  <textarea class="form-control" name="nota" #nota="ngModel" [(ngModel)]="credito.nota"></textarea>
                </div>
              </div>
              <div class="row g-3">
                <div class="col mb-3">
                  <div class="col mb-3" style="text-align: right;">
                    <button class="btn btn-info" (click)="addPago()">Pagar</button>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      
  </div>
  <div style="text-align: right;">
    <button class="btn btn-secondary" (click)="cancelaAltaCredito()">Cerrar</button>
    <button *ngIf="isNuevo" class="btn btn-info" (click)="agregaEditaCredito()" [disabled]="cliente.nombre==''||cliente.telefono==''||cliente.correoElectronico==''||credito.equipo.marca==''||credito.equipo.modelo==''||credito.equipo.costo==0 || credito.enganche==0 || credito.noPagosTotales==0">Agregar</button>
  </div>
</div>
