<div *ngIf="!isAddCredito" class="container">
  
  <table class="table table-bordered">
    <thead>
      <tr>
        <th style="text-align: left;">
          Filtro: <input type="text"  name="filtro" [(ngModel)]="filtro" (keyup)="filtraDatos()">
        </th>
        <th style="text-align: center;">
          <button class="btn" (click)="addCredito(-1)">
            <fa-icon [icon]="faCirclePlus"></fa-icon>
          </button>
        </th>
        <th style="text-align: center;">
          <button class="btn" (click)="borraCredito()" [disabled]="HighlightRow==-1" > <fa-icon [icon]="faTrash" ></fa-icon></button> </th>
        <th style="text-align: right;">
          <label for="">Todos</label>
          <input type="checkbox" name="tipoBusqueda" id="tipoBusquedaId" #tipoBusquedaId [(ngModel)]="tipoBusqueda" (change)="buscaCredito(tipoBusquedaId.checked)" [checked]="tipoBusqueda">
        </th>
      </tr>
    </thead>
  </table>
  <table class="table">
    <colgroup>
      <col width="20%">
      <col width="10%">
      <col width="15%">
      <col width="20%">
      <col width="15%">
      <col width="10%">
      <col width="10%">
    </colgroup>
    <thead>
      <tr>
        <th style="text-align: center;">Nombre</th>
        <th style="text-align: center;">Telefono</th>
        <th style="text-align: center;">Correo Electrónico</th>
        <th style="text-align: center;">Equipo</th>
        <th style="text-align: center;">Costo</th>
        <th style="text-align: center;">Adeudo</th>
        <th style="text-align: center;">Pend</th>
      </tr>
    </thead>
  </table>
  <div style="margin-top: -16px;height: 500px;overflow: auto;border: 1px solid green;">
    <table class="table table-bordered table-hover" id="tblCreditos">
      <colgroup>
        <col width="20%">
        <col width="10%">
        <col width="15%">
        <col width="20%">
        <col width="15%">
        <col width="10%">
        <col width="10%">
      </colgroup>
      <tbody>
        <tr *ngFor="let credito of listaCreditos; let i = index;"  (dblclick)="addCredito(i)" (click)="ClickedRow(i)"  >
          <td class="alignLeftRow" [class.selected]="i == HighlightRow">{{credito.cliente.nombre}}</td>
          <td class="alignLeftRow" [class.selected]="i == HighlightRow">{{credito.cliente.telefono}}</td>
          <td class="alignLeftRow" [class.selected]="i == HighlightRow">{{credito.cliente.correoElectronico}}</td>
          <td class="alignCenterRow" [class.selected]="i == HighlightRow">{{credito.equipo.marca}}-{{credito.equipo.modelo}}</td>
          <td class="alignCenterRow" [class.selected]="i == HighlightRow">{{credito.equipo.costo | currency}}</td>
          <td class="alignCenterRow" [class.selected]="i == HighlightRow">{{credito.adeudo | currency }}</td>
          <td class="alignCenterRow" [class.selected]="i == HighlightRow">{{credito.noPagosTotales - credito.pagos.length}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-add-credito *ngIf="isAddCredito" [creditoInit]="creditoInit" (respuesta)="captaRespuesta($event)" ></app-add-credito>
