<div class="container">
  <h2>Lista de Clientes</h2>
  <!--table class="table">
    <thead>
      <tr>
        <th style="text-align: right;"><button class="btn btn-info"><fa-icon [icon]="faUserPlus"></fa-icon></button></th>
        <th style="text-align: right;"><button class="btn" (click)="openCloseModal(true)" [disabled]="HighlightRow==-1"><fa-icon [icon]="faPencil"></fa-icon></button></th>
      </tr>
    </thead>
  </table-->
  <table class="table table-bordered">
    <colgroup>
    <col width="25%">
    <col width="25%">
    <col width="25%">
    <col width="25%">
    </colgroup>
    <thead>
      <tr>
        <th style="text-align: center;">Nombre</th>
        <th style="text-align: center;">Telefono</th>
        <th style="text-align: center;">Correo Electrónico</th>
        <th style="text-align: center;">Direccion</th>
      </tr>
    </thead>
  </table>
  <div style="border: 1px solid blue;height: 500px;overflow: auto;margin-top: -16px;">
    <table class="table table-hover table-bordered">
      <colgroup>
        <col width="25%">
        <col width="25%">
        <col width="25%">
        <col width="25%">
        </colgroup>
      <tbody>
        <tr *ngFor="let cliente of clientes; let i= index;" (click)="clickRow(i)" (dblclick)="openCloseModal(true)">
          <td [class.selected]="i == HighlightRow">{{cliente.nombre}}</td>
          <td [class.selected]="i == HighlightRow">{{cliente.telefono}}</td>
          <td [class.selected]="i == HighlightRow">{{cliente.correoElectronico}}</td>
          <td [class.selected]="i == HighlightRow">{{cliente.direccion}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Modal -->
<div *ngIf="isOpenModal" class="modal fade show" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" style="display: block;" aria-labelledby="staticBackdropLabel" aria-modal="true" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Editar Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="openCloseModal(false)"></button>
      </div>
      <div class="modal-body">
       <div class="row">
        <div class="col">Nombre:</div>
        <div class="col">
          <input type="text" class="form-control" name="nombre" #nombre="ngModel" [(ngModel)]="cliente.nombre">
        </div>
       </div>
       <div class="row">
        <div class="col">Teléfono</div>
        <div class="col">
          <input type="text" class="form-control" name="telefono" #telefono="ngModel" [(ngModel)]="cliente.telefono">
        </div>
       </div>
       <div class="row">
        <div class="col">Correo:</div>
        <div class="col">
          <input type="text" class="form-control" name="correo" #correo="ngModel" [(ngModel)]="cliente.correoElectronico">
        </div>
       </div>
       <div class="row">
        <div class="col">Dirección</div>
        <div class="col">
          <input type="text" class="form-control" name="direccion" #direccion="ngModel" [(ngModel)]="cliente.direccion">
        </div>
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="openCloseModal(false)">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="actualizarCliente()">OK</button>
      </div>
    </div>
  </div>
